export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"                   # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" # This loads nvm bash_completion

export PATH="$HOME/.cargo/bin:$PATH"

copy() {
	cat | xclip -selection clipboard
}

_paste() {
	xclip -selection clipboard -o
}


if [ -f "$HOME/.ssh/config.bak" ]; then
    mv "$HOME/.ssh/config.bak" "$HOME/.ssh/config"
fi

brewPrefix=
if [ -d "/home/linuxbrew/.linuxbrew" ]; then
	brewPrefix="/home/linuxbrew/.linuxbrew/bin"
else
	brewPrefix="~/.linuxbrew/bin"
fi
if [ -f "''${brewPrefix}/brew" ]; then
	PATH="''${brewPrefix}":$PATH ${cfg.onActivation.brewBundleCmd}
fi
